{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="utf-8">
  <title>Coopersucesso Iomerê</title>

  <link rel="icon" href="{% static "img/logo.png"%}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}">

  <link rel="stylesheet" href="{% static "owlcarousel/dist/assets/owl.carousel.min.css"%}">
  <link rel="stylesheet" href="{% static "owlcarousel/dist/assets/owl.theme.default.min.css"%}">

  <link href="{% static "css/style.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <ul id="nav-mobile" class="sidenav" style="padding: 5% 0">
    <li><a href="/">Início</a></li>
    <li><a href="#produtos">Produtos</a></li>
    <li><a href="#empresa">Empresa</a></li>
    <li><a href="#receitas">Receitas</a></li>
    <li><a href="#contato">Contato</a></li>
  </ul>

  <nav class="header white sticky-nav" role="navigation">
    <div id="headernav" class="nav-wrapper container">
      <a id="logo-container" href="/" class="center brand-logo">
        <div>
          <img class="z-depth-2" src="{% static "img/logo2.jpg"%}" style="max-height: 16vh;border-radius: 0 0 100% 100%"/>
          <img class="fadeTop z-depth-2" src="{% static "img/logo1.jpg"%}" style="max-height: 16vh;border-radius: 0 0 100% 100%"/>
        </div>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect" href="/">Início</a></li>
        <li><a class="waves-effect" href="#produtos">Produtos</a></li>
        <li><a class="waves-effect" href="#empresa">Empresa</a></li>
        <li><a class="waves-effect" href="#receitas">Receitas</a></li>
        <li><a class="waves-effect" href="#contato">Contato</a></li>
      </ul>

      <a data-target="nav-mobile" class="sidenav-trigger show-on-med-and-down" style="cursor: pointer"><i class="material-icons" style="font-size: 2rem">menu</i></a>
    </div>
  </nav>



  <main>
    {% block content %}

    {% endblock %}
  </main>



  <footer style="padding: 10px 0"class="light-green">
    <div class="container white-text text-darken-1">
      Coopersucesso Iomerê 2020 &copy; Todos os direitos reservados.
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.min.js"%}"></script>
  <script src="{% static "owlcarousel/dist/owl.carousel.min.js"%}"></script>
  <script src="{% static "js/init.js"%}"></script>

  <!-- <link href="{% static "css/materialize.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <!-- <link href="{% static "css/style.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/> -->

  </body>
</html>
